<a href="https://colab.research.google.com/github/mthakurd/Mithilesh_INFO3530_Spring2020/blob/master/Funal_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1: write a function which could print a string content. The requirements are as follows (20’) (1) the function accepts one argument which is printed as the string content (10’) (2) the value of the argument should be provided in command line (10’) Its running effect is as follows.

In [1]:
def print_string(s):
    print(s)

if __name__ == "__main__":
    s = input("please input a string: ")
    print_string(s)

please input a string: hello world!
hello world!

2: Write a program that could sum all the even digit in the scope of 1-1000. The requirements are as follows. (20’) (1) use the function of range to express the scope of 1-1000 (10’) (2) use for loop to deal with the scope (10’) The result should be “250500”.

In [2]:
def sumofevendigit():

    sum = 0
    for i in range(1,1001):
        if i % 2 == 0:
            sum = sum + i


    print(sum)

if __name__ == "__main__":
    sumofevendigit()

250500

3: Given a number list which is numbers=[12,10,3,2,[6,[7,8,9],19,21],21]. Write a function that can get the product of all the numbers in the list. The requirements are as follows. (20’) (1) write the function by recursion (10’) (2) the “numbers” should be an argument of the function (5’) (3) the function returns a number (5’) The result should be “18243429120”.

In [3]:
mul = 1

def multiply(lst, depth):
    global mul
    for item in lst:
        if isinstance(item, int):
            mul *= item
        elif isinstance(item, list):
            multiply(item, depth-1)
    return mul



if __name__ == "__main__":
    lst = [12,10,3,2,[6,[7,8,9],19,21],21]
    result = multiply(lst, 3)
    print(result)

18243429120

4: Given a matrix which is matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]. Write a function to complete the following task. (30’) (1) turn the matrix (List) into an array (5’) (2) use mask to set all the value above 20 to 0 (15’) (3) output the result into a txt file (10’) Its running effect is as follows.

In [0]:
import numpy as np

def print_matrix(my_matrix):
    my_array = np.asarray(my_matrix)
    for item in my_array:
        for j in range(len(item)):
            if item[j] > 20:
                item[j] = 0
    with open('result.txt', 'w') as f:
        f.write(str(my_array))

if __name__ == "__main__":
    my_matrix = [[23,43,12],[32,12,52],[15,35,52],[19,28,56]]
    print_matrix(my_matrix)

![alt text](https://drive.google.com/uc?id=12yk4VkvUyqq72_JHYbf8JzdTUM44Xa87)

5: Given a number list which is numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]. Write a function to complete  the following task. (30’) (1) count the frequency of each different number in numbers list (10’) (2) store the result into dictionary (10’) (3) print it out (10’)

In [5]:
def count_freq(num_list):
    new_list = []
    result = {}
    for num in num_list:
        if num not in new_list:
            new_list.append(num)
    for number in num_list:
        if number not in result:
            result[number] = 1
        else:
            result[number] += 1
    for item in result:
        print(item, result[item])


if __name__ == "__main__":
    numbers = [1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]
    count_freq(numbers)

1 2
3 9
2 17
4 6
32 1
5 1

6: Create a class Point which represent a point in two dimensions. It has two properties x and y. The detail requirements are as follows. (1) When creating an object of Point, we can assign the value to x and y. If we don’t provide the value, they will be 0. (10’) (2) If we print the object of Point directly, it will output the value of x and y. Its running effect is as follows. (10’)(3) if we create two different objects of Point which are p1 and p2, (p1+p2) will get a new Point whose x is (p1.x+p2.x) and y is (p1.y+p2.y). Suppose p1(1,3) and p2(3.,4), then the result of print(p1+p2) is shown as follows. (10’)

In [6]:
import math

class Point:
  def __init__(self,x=0,y=0):
    self.x = x
    self.y = y

  def __str__(self):
    return "The point is ({0},{1})".format(self.x,self.y)

  def __add__(self, other):
    p3_x = self.x + other.x
    p3_y = self.y + other.y
    p3 = Point(p3_x, p3_y)
    return p3



if __name__ == "__main__":


    p1 = Point(1,3)
    p2 = Point(3,4)
    print(p1 + p2)




    #solution 2

# import math
#
#
# class Point:
#     def __init__(self, x=0, y=0):
#         self.x = x
#         self.y = y
#
#     def __str__(self):
#         return "The point is ({0},{1})".format(self.x, self.y)
#
#     def distance(A, B):
#         p3_x = A.x + B.x
#         p3_y = A.y + B.y
#         p3 = Point(p3_x, p3_y)
#         return p3
#
# if __name__ == "__main__":
#     p1 = Point(1,3)
#     p2 = Point(3,4)
#     print(distance(p1, p2))

The point is (4,7)

7: Given an excel file named “catering_sale_all.xls”. It stores the sale situation of several kinds of food on one month. Write a program that could print the total sales volume of the month by a specific food. The detail requirements are follows.(50’) (1) when running the program, it will list all the food with a fixed number in the excel (10’) (2) it notify a user to specific one number (10’) (3) it print the specific food’s total sales volume of one month (10’) (4) after print the result, a user could switch to print another food’s sales volume (10’) (5) when the user select exit, the program exits (10’) Its running effects are as follows.

In [0]:
import pandas as pd

df = pd.read_excel ('catering_sale_all.xls')
data = pd.DataFrame(df)

data_dict = {0: 'exit', 1: 'chicken feet', 2: 'steamed dumplings', 3: 'ribs', 4: 'full chicken', 5: 'stuffed bun', 6: 'flowering cabbage',
             7: 'doufu', 8: 'chive dumplings', 9: 'pudding', 10: 'original cabbage'}

while True:
    for item in data_dict:
        print(item, data_dict[item])
    choice = int(input('please input number in the list:'))
    if choice == 0:
        break
    else:
        food = data_dict[choice]
        print('total sale of ' + food + ' is ' + str(data[food].sum()))

![alt text](https://drive.google.com/uc?id=1qc8FxhHe_Xqdrffq2KJvHz7VHXJjWXY9)

¬8. Given a sql file named “world.sql” which are exported from MySQL by MySQL GUI Tools (For Mac: MySQL Workbench, For Windows: MySQL Administrator).Write a series of functions to complete the following tasks. (50’) (1) import the data into MySQL — this is an operation not program (10’)
(2) write a function to connect to the ”world” schema by using of “pymysql” module (10’) (3) For the “country” table, write a function to retrieve the average life expectancy of every continent (20’) (4) print the result (10’) The final result is as follows.

In [0]:
import pymysql

def avgLifeExpectancy():
    db = pymysql.connect("localhost","root","Alfa2020","world")
    dbcursor = db.cursor()

    sql = "SELECT AVG(LifeExpectancy), continent FROM world.country group by Continent"

    dbcursor.execute(sql)
    results = dbcursor.fetchall()

    print("avglife  |  continent")
    for item in results:
        print(str(item[0]) + '  |  ' + item[1])

    dbcursor.close()
    db.close()

if __name__ == "__main__":
    avgLifeExpectancy()

![alt text](https://drive.google.com/uc?id=14fmXlwtU5nrG3JrgaBagC9Zg3tOJBjaG)

9. Using the “world” schema imported in Question 8. For the “country” table, write a series of functions to complete the following tasks. (50’) (1) write a function to connect to the ”world” schema by using of “pymysql” module (10’) (2) write a function to calculate the total population by every continent (20’) (3) use pie plot to display the result. (20’) The final result is as follows.

In [0]:
import pymysql
from pylab import *

def populationPercentage():
    db = pymysql.connect("localhost","root","Alfa2020","world")
    dbcursor = db.cursor()

    sql = "SELECT continent, sum(Population), continent FROM world.country group by Continent"

    dbcursor.execute(sql)
    results = dbcursor.fetchall()
    x_labels = []
    y_values = []
    for item in results:
        x_labels.append(item[0])
        y_values.append(item[1])
    dbcursor.close()
    db.close()
    return x_labels, y_values

def plot_result(x_labels, y_values):
    figure(1, figsize=(6, 6))
    explode = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1)
    pie(y_values,explode=explode,labels=x_labels,autopct='%1.1f%%',startangle=100)

    title('population by continent')
    show()

if __name__ == "__main__":
    x_labels, y_values = populationPercentage()
    plot_result(x_labels, y_values)

![alt text](https://drive.google.com/uc?id=1bksUDBngKrAVXmGuP9uyCrvPTbQUVgjQ)

10. Given a csv file named “energy-production.csv”. It stores energy production of one area between 1973 and 2014. Write a series of functions to complete the following tasks. (50’) (1) use “panda” to load the “energy-production.csv” file (10’) (2) Write a function which accept year (1973-2014) as argument to retrieve the specific year’s energy production in detail. (20’) (3) use bar plot to display the retrieved result. (20’) The final result is as follows.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

def saveData(input_csv):
    df = pd.read_csv(input_csv)
    data = pd.DataFrame(df)
    column_names = []
    for i in range(len(data.columns)):
        column_names.append(data.columns[i])
    return data, column_names[2:]

def retrieveInfo(info, year):
    for item in info.iterrows():
        if int(item[1][1]) == year:
            return item[1]

def displayResult(energy_info, column_names):
    energy_values = []
    for item in energy_info:
        energy_values.append(item)
    energy_values = energy_values[2:]

    plt.ylim(0, 40)
    plt.bar(column_names, energy_values)
    plt.xticks(rotation=-25, fontsize='x-small')
    plt.subplots_adjust(bottom=0.15)
    plt.show()


if __name__ == "__main__":
    info, column_names = saveData('energy-production.csv')
    year = int(input('Please input a year between 1973 and 2014:'))
    energy_info = retrieveInfo(info, year)
    displayResult(energy_info, column_names)

![alt text](https://drive.google.com/uc?id=1tPXl3ZxaEwUGM-hFkGDQPvDTg0gMnX2y)

![alt text](https://drive.google.com/uc?id=1q7Ss-bKKdrJklXMslNCFobu17L34gjGu)